//基础字号
$fs: 30px;

// 颜色
$mainColor: #722d72;
$mainColorActived: #fda3df;
$infoColor: #0938d4;
$black: #000;
$darkgray: #333;
$middlegray: #666;
$lightgray: #999;
$white: #fff;
$price: #ff733c;
$mainBg: #f5f6f7;
// 字体大小
$smallFontSize: 12px;
$baseFontSize: 14px;
// 边框
$mainBorder: #e0e0e0;
$baseBorder: #c7c7c7;
